<h1 style='color: red'>
    Copy this file to &lt;project_dir&gt;/template/modules/catalog/search.twig and there edit
</h1>
{% include module.path ~ '/template/_breadcrumbs.twig' %}

{% if result.error %}
    <h1 style='color: red'>
            {{ searchResult.error.getMessage }}
    </h1>
{% endif %}
<h2>Искали: {{  searchResult.searchQuery }}</h2>
<h2>Найдено: {{  searchResult.countResult }}</h2>

{% include module.path ~ '/template/_pagination.twig' with {'pagination': pagination} %}


<div>
    <h2>Найденные товары</h2>
    <ul>
        {% for product in searchResult.result %}
            <li><a href="{{ path("catalog/product", {"slug": product.getSlug }) }}">{{ product.getName }}</a></li>
        {% endfor %}
    </ul>
</div>
