{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">{{ product.getName }}
                    <a class="small text-dark" href="{{ path('catalog/product', {"slug": product.getSlug}) }}"><i
                            class="fas fa-external-link-alt"></i></a>
                    <small class="d-block">Управление изображениями</small>
                </h2>
                <div class="float-right">
                    {% include '../modules/catalog/template/admin/products_admin_links.twig' %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a class="btn btn-primary my-3"
                   href="{{ path('catalog/admin/product/images/add', {"product_id": product.getId, "method": "upload"}) }}">Загрузить
                    с компьютера</a>
                <a class="btn btn-primary my-3"
                   href="{{ path('catalog/admin/product/images/add', {"product_id": product.getId, "method": "download"}) }}">Скачать
                    из интернета</a>
                <div class="row">
                    {% for image in images %}
                        <div class="col-md-3">
                            <div class="card">


                                <div class="card-header{% if image.isGeneral %} bg-warning{% endif %}">
                                    <div class="card-title">
                                        {% if image.isGeneral %}
                                            Основное изображение
                                        {% else %}
                                            <a href="{{ path("catalog/admin/product/images/make_general", {"id": image.getId}) }}">Сделать
                                                основным</a>
                                        {% endif %}
                                        <a href="{{ path("catalog/admin/product/images/delete", {"id": image.getId}) }}">Удалить</a>
                                    </div>
                                </div>


                                <!-- /.box-header -->
                                <div class="card-body">
                                    <img
                                        src="{{ _ENV.UPLOAD_URL ~ '/catalog/' ~ image.getFilename ~ '_small.' ~ image.getExtension }}"/>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- ./col -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% block additional %}
    {% endblock %}
{% endblock %}


