{% extends '@a/layout.twig' %}



{% block content %}

    {% do asset('js', [
        'modules/catalog/template/assets/js/nestable/jquery.nestable.js',
        'modules/admin/node_modules/toastr/build/toastr.min.js',
    ]) %}


    {% do asset('css', [
        'modules/catalog/template/assets/css/nestable/nestable.css',
        'modules/admin/node_modules/toastr/build/toastr.css',
    ]) %}


    {% macro recursiveCategory(category) %}
        {% import _self as self %}

        <li class="dd-item dd3-item" data-id="{{ category.getId }}">
            <div class="dd-handle dd3-handle{% if not category.isStatus %} bg-danger{% endif %}"></div>
            <div class="dd3-content{% if not category.isStatus %} bg-danger{% endif %}">
                {{ category.getTitle }}
                <span class="small">
                    <a href="{{ path('catalog/category', {"slug": category.getSlug}) }}"><i
                            class="fa fa-external-link-square-alt"></i></a>
                </span>
                <div class="small text-dark">
                    <a href="{{ path('catalog/admin/category/delete', {"id": category.getId}) }}">[удалить]</a>
                    <a href="{{ path('catalog/admin/category/edit', {"id": category.getId}) }}">[редактировать]</a>
                    <a href="{{ path('catalog/admin/category/add', {"parent_id": category.getId}) }}">[добавить]</a>
                </div>

            </div>
            {% if category.getChildren|length %}
                <ol class="dd-list">
                    {% for child in category.getChildren %}
                        {{ self.recursiveCategory(child) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </li>
    {% endmacro %}

    {% from _self import recursiveCategory %}

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Категории</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ url('catalog/admin/category/add') }}" class="btn btn-primary btn-sm mb-3">Добавить
                    категорию</a>

                {{ form|raw }}

                <div class="dd myadmin-dd-empty" id="nestable">
                    <ol class="dd-list">
                        {% for category in categories %}
                            {{ recursiveCategory(category) }}
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>

    <script>

        function save(data)
        {
           fetch("{{ path('catalog/admin/category/save_category_structure') }}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                            // 'Content-Type': 'application/x-www-form-urlencoded',
                        }, referrerPolicy: 'no-referrer', // no-referrer, *client
                        body: data
                    }).then(function (response) {
                        if (response.status !== 200) {
                            response.json()
                                .then(function (data) {
                                    toastr.error(data, 'Error', {timeOut: 2000})
                                })
                                .catch(function (err) {
                                    toastr.error('Json Error: ' + err, 'Error', {timeOut: 2000})
                                });
                            return false;
                        }
                        response.json()
                            .then(function (data) {
                                toastr.success(data, 'Success', {timeOut: 2000})
                            })
                            .catch(function (err) {
                                toastr.error('Json Error: ' + err, 'Error', {timeOut: 2000})
                            });
                    }).catch(function (err) {
                        toastr.error('Fetch Error: ' + err, 'Error', {timeOut: 2000})
                    });
        }

        $(document).ready(function () {
            // Nestable
            var updateOutput = function (e) {

                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(data = window.JSON.stringify(list.nestable('serialize'))); //, null, 2));
                    if(e.type == 'change'){
                      save(data);
                    }
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            $('#nestable').nestable({
                group: 1,
                expanded: true
            }).on('change', updateOutput);


            updateOutput($('#nestable').data('output', $('#nestable-output')));



        });

    </script>

{% endblock %}
