{% extends '@a/layout.twig' %}
{% block content %}
    {% do asset('js', ['modules/admin/node_modules/bs-custom-file-input/dist/bs-custom-file-input.min.js']) %}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>

    <section class="content">


        <div class="card">

            <div class="card-header">
                <h2 class="card-title">{{ title ?? product.getName }}
                    {% if product %}
                        <a class="small text-dark" href="{{ path('catalog/product', {"slug": product.getSlug}) }}"><i
                                class="fas fa-external-link-alt"></i></a>
                        <small class="d-block">{{ product.category.fullTitle(' → ') }}</small>
                    {% endif %}
                    <small class="d-block">{{ subtitle }}</small>
                </h2>
                {% if product %}
                    <div class="float-right">
                        {% include '@catalog_admin/products_admin_links.twig' %}
                    </div>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

    {% block additional %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ editorEmbedCode|raw }}
{% endblock %}
