{% extends '@a/layout.twig' %}



{% block content %}

    {% macro recursiveCategory(category) %}
        {% import _self as self %}

        <li class="dd-item dd3-item" data-id="{{ category.id }}">
            <div class="dd-handle dd3-handle"></div>
            <div class="dd3-content">{{ category.title }}
                <br/>
                <a href="{{ path('catalog/admin/category/delete', {"id": category.id}) }}" class="small">удалить</a>
                <a href="{{ path('catalog/admin/category/edit', {"id": category.id}) }}" class="small">редактировать</a>
                <a href="{{ path('catalog/admin/category/add', {"parent_id": category.id}) }}"
                   class="small">добавить</a>
                <a href="#" class="small"><i class="fa fa-globe"></i></a>
                <br/>
                <small><?=$item['seo']?></small>
            </div>
            {% if category.__children|length %}
                <ol class="dd-list">
                    {% for child in category.__children %}
                        {{ self.recursiveCategory(child) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </li>
    {% endmacro %}

    {% from _self import recursiveCategory %}

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Категории</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ url('catalog/admin/category/add') }}" class="btn btn-primary btn-sm mb-3">Добавить
                    категорию</a>

                {{ form|raw }}

                <div class="dd myadmin-dd-empty" id="nestable">
                    <ol class="dd-list">
                        {% for category in categories %}
                            {{ recursiveCategory(category) }}
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            // Nestable
            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize'))); //, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            $('#nestable').nestable({
                group: 1
            }).on('change', updateOutput);


            updateOutput($('#nestable').data('output', $('#nestable-output')));

        });
    </script>

{% endblock %}