<div class="text-nowrap">
    {% if access('@catalog_product_edit') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_edit', {"product_id": product.getId}) }}"
           title="Редактирование"><i class="fa fa-edit"></i></a>
    {% endif %}
    {% if access('@catalog_product_quantity') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_quantity', {"product_id": product.getId}) }}" title="Количество"><i
                class="fa fa-cubes"></i></a>
    {% endif %}
    {% if access('@catalog_product_images') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_images', {"product_id": product.getId}) }}"
           title="Управление изображениями"><i class="fa fa-image"></i></a>
    {% endif %}
    {% if access('@catalog_product_tags') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_tags', {"product_id": product.getId}) }}" title="Теги"><i
                    class="fa fa-tags"></i></a>
    {% endif %}
    {% if access('@catalog_product_options_list') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_options_list', {"product_id": product.getId}) }}" title="Параметры"><i
                    class="fa fa-list"></i></a>
    {% endif %}
    {% if access('@catalog_product_urls') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_urls', {"product_id": product.getId}) }}" title="URLs"><i class="fas fa-link"></i></a>
    {% endif %}
    {% if access('@catalog_product_files') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_files', {"product_id": product.getId}) }}" title="Файлы"><i
                    class="fa fa-file"></i></a>
    {% endif %}
    {% if access('@catalog_product_prices') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_prices', {"product_id": product.getId}) }}" title="Цены"><i
                    class="fa fa-dollar-sign"></i></a>
    {% endif %}
    {% if access('@catalog_product_meta') %}
        <a class="btn btn-default"
           href="{{ path('@catalog_product_meta', {"product_id": product.getId}) }}" title="SEO"><i
                    class="fa fa-globe"></i></a>
    {% endif %}
    {% if access('@catalog_product_delete') %}
        <a class="btn btn-danger"
           href="{{ path('@catalog_product_delete', {"product_id": product.getId}) }}"
           title="Удаление"><i class="fa fa-trash"></i></a>
    {% endif %}
</div>
