{% extends '@a/layout.twig' %}

{% block content %}


    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Список товаров (продуктов)</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ url('catalog/admin/product/add') }}" class="btn btn-primary btn-sm mb-3">Добавить
                    продукт</a>

                {% if pagination.isActive %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item{% if pagination.getPrevPage is null %} disabled{% endif %}">
                                <a class="page-link" {% if pagination.getPrevPage is not null %} href="{{ path("catalog/admin/products", { "page": 1 }) }}"{% endif %}
                                   aria-label="First">
                                    <span aria-hidden="true">Первая</span>
                                </a>
                            </li>
                            <li class="page-item{% if pagination.getPrevPage is null %} disabled{% endif %}">
                                <a class="page-link" {% if pagination.getPrevPage is not null %} href="{{ path("catalog/admin/products", { "page": pagination.getPrevPage }) }}"{% endif %}
                                   aria-label="Previous">
                                    <span aria-hidden="true">Предыдущая</span>
                                </a>
                            </li>
                            {% set slice_start =  pagination.getCurrentPage-5 %}
                            {% for page in (1..pagination.getTotalPages)|slice((slice_start<0)?0:slice_start, 9) %}
                                <li class="page-item{% if page == pagination.getCurrentPage %} active{% endif %}">
                                    <a class="page-link" href="{{ path("catalog/admin/products", {"page": page }) }}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item{% if pagination.getNextPage is null %} disabled{% endif %}">

                                <a class="page-link" {% if pagination.getNextPage is not null %} href="{{ path("catalog/admin/products", {"page": pagination.getNextPage }) }}" {% endif %}
                                   aria-label="Next">
                                    <span aria-hidden="true">Следующая</span>
                                </a>
                            </li>
                            <li class="page-item{% if pagination.getNextPage is null %} disabled{% endif %}">

                                <a class="page-link" {% if pagination.getNextPage is not null %} href="{{ path("catalog/admin/products", {"page": pagination.getTotalPages }) }}" {% endif %}
                                   aria-label="Last">
                                    <span aria-hidden="true">Последняя</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Наименование</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        {% set image = product.getImages.first %}
                        <tr{% if product.isActive == false %} class="table-danger" {% endif %}>
                            <td>
                                {% if image %}
                                    <img class="w-50"
                                         src="{{ config.getImageStorageUpload(image.storage).url(image.getFilename ~ '_small.' ~ image.getExtension) }}">
                                {% endif %}
                            </td>
                            <td>
                                <div class="h4">{{ product.getName }}
                                    <a class="small text-dark" href="{{ path('catalog/product', {"slug": product.getSlug}) }}"><i class="fas fa-external-link-alt"></i></a>
                                    {% if product.isHide %}[скрыт]{% endif %}
                                    {% if product.isActive == false %}[отключен]{% endif %}
                                </div>
                                <div class="small">
                                    {% if product.getHashId %}
                                    <div  class="text-muted">Hash ID: <b>{{ product.getHashId }}</b></div>
                                    {% endif %}

                                    <div class="text-muted">Категория:
                                        <a href="{{ path('catalog/category', {"slug": product.getCategory.getSlug}) }}"> {{ product.getCategory.getFullTitle(' &rarr; ')|raw }}</a> </div>

                                </div>
                            </td>

                            <td>
                                {% include '@catalog_admin/products_admin_links.twig' %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>



{% endblock %}
