{% extends '@a/layout.twig' %}

{% block content %}

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Список товаров (продуктов)</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ url('catalog/admin/product/add') }}" class="btn btn-primary btn-sm mb-3">Добавить
                    продукт</a>


                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Наименование</th>
                        <th>Category URL slug</th>
                        <th>Product URL slug</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    {% set image = product.getImages.first %}
                    <tr>
                        <td>
                            {% if image %}
                            <img src="{{ '/upload/' ~ image.getFilename ~ '_small.' ~ image.getExtension }}" >
                            {% endif %}
                        </td>
                        <td>{{ product.getName }}</td>
                        <td> {{ product.getCategory.getUrl }}</td>
                        <td><a href="{{ path('catalog/product', {"slug": product.getSlug}) }}"> {{ product.getSlug }}</a></td>
                        <td>
                            <a href="{{ path('catalog/admin/product/images', {"product_id": product.getId}) }}">Управление изображениями</a>
                            <a href="{{ path('catalog/admin/product/edit', {"id": product.getId}) }}">Редактирование</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>



{% endblock %}