{% extends '@a/layout.twig' %}
{% block content %}
    {% do asset('css', [
        module.path ~ '/node_modules/select2/dist/css/select2.min.css',
        module.path ~ '/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css'
    ]) %}

    {% do asset('js', [
        {0: module.path ~ '/node_modules/select2/dist/js/select2.full.js','minify': false },
        'modules/admin/node_modules/bs-custom-file-input/dist/bs-custom-file-input.min.js'
    ]) %}

    <style>

        .select2-selection__rendered {
            display: block !important;
            width: calc(100% - 50px) !important;
        }

        .select2-selection__clear, .select2-selection__clear {
            color: #1c1c1c !important;
            margin-right: 2em !important;
            right: 0 !important;
        }

        .select2-selection__choice {
            float: left !important;
            padding: 0 0 0 0.75rem !important;
            margin: calc(0.375rem - 2px) 0 0 0.375rem !important;
            background: #efefef !important;
            border-radius: 0.5rem !important;
        }

        .select2-selection__choice__remove {
            float: right !important;
            border: 0 !important;
            padding: 0 3px !important;
            margin: 0 3px !important;
        }

        .select2-selection__choice{
            float: none !important;
            display: inline-block !important;
        }

    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>

    <script>


        $(function () {
            $("#options").select2({
                width: "100%",
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: 'select..',
                ajax: {
                    url: "{{ path('@catalog_product_options_find_option_keys') }}",
                    dataType: 'json',
                    // delay: 250,
                    data: function (params) {
                        return {
                            query: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }

                },
                templateResult: function (result) {
                    if (result.loading) {
                        return result.text;
                    }
                    let $container = $(
                        "<div class='select2-result-repository clearfix'>" +
                        "<span class='select2-result---name'></span> " +
                        "<span class='select2-result---unit small text-muted'></span>" +
                        "</div>"
                    );

                    $container.find(".select2-result---name").text(result.name);
                    $container.find(".select2-result---unit").text(result.unit);

                    return $container;
                },
                templateSelection: function (result) {
                    return result.text || (result.name + (result.unit ? ' (' + result.unit + ')' : ''));
                }
            });
            $("#products").select2({
                width: "100%",
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: 'select..',
                ajax: {
                    url: "{{ path('@a/catalog/tools/find-products') }}",
                    dataType: 'json',
                    // delay: 250,
                    data: function (params) {
                        return {
                            query: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    }

                },
                templateResult: function (result) {
                    if (result.loading) {
                        return result.text;
                    }
                    let $container = $(
                        "<div class='select2-result-repository clearfix'>" +
                        "<span class='select2-result---name'></span> " +
                        "</div>"
                    );

                    $container.find(".select2-result---name").text('[SKU: '+ result.sku +'] ' + result.title);

                    return $container;
                },
                templateSelection: function (result) {
                    return result.text || '[SKU: '+ result.sku +'] ' + result.title;
                }
            });
        });
    </script>

    <section class="content">


        <div class="card">

            <div class="card-header">
                <h2 class="card-title">{{ title }}
                    <a class="small text-dark"
                       href="{{ path('catalog/product', {"slug": productGroup.products|first.slug}) }}"><i
                            class="fas fa-external-link-alt"></i></a>
                    <small class="d-block">{{ subtitle }}</small>
                </h2>
                {% if product %}
                    <div class="float-right">
                        {% include '@catalog_admin/products_admin_links.twig' %}
                    </div>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

    {% block additional %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ editorEmbedCode|raw }}
{% endblock %}
